<nav class="navbar sticky-top navbar-expand-sm navbar-dark bg-dark">
  <a class="navbar-brand nav-item-active" routerLink="/">Store Name<span class="sr-only">(current)</span></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <!-- <span class="navbar-toggler-icon"></span> -->
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/products">Products</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="">Guest Shopping Cart</a>
      </li>
    </ul>
    <div class="row">
        <div class="col">
          <div ngbDropdown class="d-inline-block">
            <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>My Account</button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
              <button class="dropdown-item" routerLink="/login">Login</button>
              <!--Have this option appear once signed in-->
              <button class="dropdown-item" routerLink="">Shopping Cart</button>
              <!--Have this option disappear with ngIf once signed in-->
              <button class="dropdown-item" routerLink="/registerUser">Register</button>
              <!--OPTIONAL-->
              <button class="dropdown-item" routerLink="/test">Settings</button>
            </div>
          </div>
        </div>
      </div>
  </div>
</nav>