<label for="login">Login Here:</label>
<form>
  <div class="form-group">
    <label for="emailLogin">Email address</label>
    <input ngModel name="email" type="email" class="form-control" id="loginEmail" placeholder="Enter email" required>
    <div class="error error-danger"></div>
  </div>
  <div class="form-group">
    <label for="loginPassword">Password</label>
    <input type="password" class="form-control" id="loginPassword" placeholder="Password">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
<a routerLink="/registerUser">New User?</a>