<div class="card-deck">
  <div class="card">
    <img class="card-img-top" src="https://scontent-iad3-1.xx.fbcdn.net/v/t1.0-9/29694972_10155821835206865_2743152426059038720_n.jpg?_nc_cat=109&oh=ac4ffcee59075239ef6bd611907e664d&oe=5C50B79F" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.
        This content is a little bit longer.</p>
      <hr>
      <a href="" class="card-link">GitHub</a>
      <a href="" class="card-link">LinkedIn</a>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src=".../100px200/" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.
        This content is a little bit longer.</p>
      <hr>
      <a href="" class="card-link">GitHub</a>
      <a href="" class="card-link">LinkedIn</a>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src=".../100px200/" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.
        This content is a little bit longer.</p>
      <hr>
      <a href="" class="card-link">GitHub</a>
      <a href="" class="card-link">LinkedIn</a>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src=".../100px200/" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.
        This content is a little bit longer.</p>
      <hr>
      <a href="" class="card-link">GitHub</a>
      <a href="" class="card-link">LinkedIn</a>
    </div>
  </div>
</div>