<h1>Welcome to our bloody fantastic store eh!</h1>
<div class="jumbotron jumbotron-fluid">
  <div class="container-fluid">
    <h1 class="display-4">Hello, world!</h1>
    <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
    <hr class="my-4">
    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
    <div class="buttons">
      <a class="btn btn-success btn-lg" href="#" role="button">About</a>
      <a class="btn btn-primary btn-lg" href="#" role="button">Contact</a>
    </div>
  </div>
</div>